.newMessageHeader {
  display: flex;
  align-items: center;
  margin: 15px;
  border-bottom: 1px solid #ffffff;
  justify-content: center;
}

.headerName {
  color: #ffffff;
  font-family: "Larsseit";
  padding: 10px;
  font-size: 25px;
}

.newMessageSearch {
  display: flex;
  align-items: center;
  margin: 15px;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
}

.newMessageSearchHeader {
  color: #ffffff;
  font-family: "Larsseit";
  padding: 10px;
  font-size: 15px;
}

.newMessageSearchBar {
  display: flex;
  align-items: center;
  font-family: "Larsseit";
  font-size: 1rem;
  padding: 10px;
  display: block;
  width: auto;
}
.newMessageSearchBar .userList {
  background-color: #D6D6D7;
  border-radius: 10px;
  box-shadow: 3px 3px 20px 0px #1d1c1d50;
  position: absolute;
  padding: 0.5em;
  overflow-y: scroll;
  max-height: 15em;
  width: 30%;
}
.newMessageSearchBar .userList h3 {
  font-size: 1rem;
  color: black;
}
.newMessageSearchBar .userList a {
  text-decoration: none;
}
.newMessageSearchBar .userList a:visited {
  text-decoration: none;
}
.newMessageSearchBar .userList img {
  height: 20px;
  width: 20px;
  border-radius: 5px;
  margin-right: 10px;
}
.newMessageSearchBar .userList .filteredUsers {
  padding: 10px 10px;
  display: flex;
  align-items: center;
}
.newMessageSearchBar input {
  padding: 10px;
  border: none;
  background-color: #323639;
  width: 300%;
  color: #D6D6D7;
}
.newMessageSearchBar input:focus {
  outline: none;
}

.newMessage {
  color: #ffffff;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 1em;
  font-family: "Larsseit";
}

.emptyTextBox {
    height: 65vh;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    margin: 15px;
}

.send-message-input {
  margin: 10px;
  background-color: #ffffff;
  display: flex;
  height:auto;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2rem;
}
.send-message-input textarea {
  resize: none;
  padding: 5px 5px;
  font-size: 1rem;
  font-family: "Larsseit";
  vertical-align: text-top;
  height: 9vh;
  width: 100%;
  border: none;
}
.send-message-input textarea:focus {
  outline: none;
}

.send-message-button {
  width: 50px;
  height: 50px;
  padding: 5px 10px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: none;
  background-color: transparent;
  color: #6f6f6f;
}

.send-message-button-active {
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding: 5px 10px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: none;
  background-color: #323639;
  color: #ffffff;
}