.header {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  background-color: #EDEFF1;
  color: black;
  height: 44px;
  position: relative;
  z-index: 203;
  border-bottom: 1px solid #D8D8D8;
  border-top: 1px solid #D8D8D8;
}

.profilePicture {
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 5px;
  right: 10px;
}

form{
  align-items: center;
  padding: 10px;
}

.icons {
  width: 25px;
  height: 25px;
  padding: 10px;
}

input {
  width: 70vh;
  height: 23px;
  border-radius: 5px;
  border: 1px solid #d8d8d8;
}

::-webkit-input-placeholder {
  text-align: center;
}