@font-face {
  font-family: "Larsseit";
  src: url("../public/Larsseit-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Circular";
  src: url("../public/CircularStd-Black.otf") format("opentype");
}

* {
  margin: 0px;
  padding: 0px;
}