.channelPage {
  display: flex;
  flex-direction: column;
  background-color: #323639;
  width: 74%;
  font-family: "Larsseit";
  padding: 20px;
}

.channel-container-header {
  text-align: center;
  color: #ffffff;
  padding: 15px;
  border-bottom: 1px solid #ffffff;
align-items: center;
}

.channel-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff;
  height: 7vh;
  align-items: center;
}

.channelName {
  font-size: 30px;
  color: #ffffff;
}

.buttonChannel {
  padding: 10px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  align-items: center;
}

.icon-addMembers {
  font-size: 20px;
  color: #ffffff;
  padding: 10px;
}

.icon-membersNum {
  color: #ffffff;
  font-size: 30px;
}

.input-findmembers {
  width: 90%;
  border: none;
  outline: none;
  margin-left: 12px;
  background-color: transparent;
  color: #ffffff;
}

.filtered-container {
  display: flex;
  align-items: center;
}