.channelTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: auto;
}

.channelName {
  display: flex;
  flex-direction: row;
}

.channelAdd {
  display: flex;
  margin-left: 200px;
}

.optionIconChannel {
  width: 20px;
  height: 20px;
  padding: 0px 0px 0px 10px;
}

.channelList {
  padding: 10px;
}

.channelListItem {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
}

.channelListPerItem {
  display: flex;
  align-items: center;
  padding: 5px;
}

.whenClicked {
  color: red;
}