.sidebar {
  width: 30vh;
  height: 100%;
  background-color: #e3e6ea;
}

.topSideBar {
  display: flex;
  margin: 0px;
  padding: 0px 15px 0px;
  height: 50px;
  font-size: 1.1em;
  align-items: center;
  font-family: "Larsseit";
  border-bottom: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
}

.downIcon {
  width: 20px;
  height: 20px;
}

.headerIcon {
  margin-left: 13vh;
  padding: 7px;
  width: 20px;
  height: 20px;
  background-color: #333232;
  color: #ffffff;
  border-radius: 25px;
}

.connectSlack, .dropdownSlack {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px 15px 0px;
  font-family: "Larsseit";
  letter-spacing: 0px;
  opacity: 1px;
  color: #a4a4a4;
  font-size: 15px;
  border-right: 1px solid #d8d8d8;
}

.slackConnect {
  display: flex;
  margin: 0px;
  padding: 10px 0px 10px;
  align-items: center;
}

.browseSlack {
  display: flex;
  margin: 0px;
  padding: 10px 0px 10px;
  align-items: center;
}

.channel {
  display: flex;
  margin: 0px;
  height: 20px;
  padding: 10px 0px 10px;
  align-items: center;

}

.directMessage {
  display: flex;
  height: 20px;
  margin: 0px;
  padding: 10px 0px 10px;
  align-items: center;

}

.connectIcon {
  width: 15px;
  height: 15px;
  padding: 0px 5px 0px;
}

.addMessage, .addChannel {
  display: none;
}

.directMessage:hover .addMessage {
  display: block;
  margin-left: 6vh;
  padding: 0px;
  width: 20px;
  height: 20px; 
}

.channel:hover .addChannel {
  display: block;
  margin-left: 11.1vh;
  padding: 0px;
  width: 20px;
  height: 20px; 
}